---
---
@charset "utf-8";
@import "base";

a.mail {
	text-decoration: underline;
	text-decoration-color: $text-color;
	text-underline-offset: .2em;
	&:hover {
		text-decoration-color: $brand-color;
	}
}