---
---
@charset "utf-8";
@import "base";

@font-face { font-family: "Graphik"; font-weight: 100; src: url({{ "/assets/fonts/GraphikThin.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 200; src: url({{ "/assets/fonts/GraphikExtralight.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 300; src: url({{ "/assets/fonts/GraphikLight.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 400; src: url({{ "/assets/fonts/GraphikRegular.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 500; src: url({{ "/assets/fonts/GraphikMedium.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 600; src: url({{ "/assets/fonts/GraphikSemibold.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 700; src: url({{ "/assets/fonts/GraphikBold.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 800; src: url({{ "/assets/fonts/GraphikBlack.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 900; src: url({{ "/assets/fonts/GraphikSuper.otf" | relative_url }}) format("opentype"); }

// RESET
* { box-sizing: border-box; }

:root {
    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 16px;
    }
}

body {
    font-family: $text-font;
    color: $text-color;
    padding: 0;
    line-height: $standard-line-height;

    margin: $minimum-side-padding;
    @include breakpoint(mobile) {
        margin: $minimum-mobile-side-padding;
    }
}

a {
    &:link, &:visited, &:active {
        color: $text-color;
    }
    &:hover {
        color: $brand-color;
    }
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
    line-height: $compact-line-height;
}
h3 {
    font-weight: 500;
    line-height: $compact-line-height;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;

    + p {
        margin-top: 0;
    }
}

strong, b {
    font-weight: 600;
}

// LAYOUT
body {
    display: grid;
    grid-template-rows: [top] auto [main] 1fr [footer-start] auto [bottom];
    grid-template-columns: [left] 12rem [main] auto [right];
    @include breakpoint(mobile) {
        grid-template-rows: [top] auto [main] 1fr [nav] auto [footer-start] auto [bottom];
        grid-template-columns: [left] 1fr [right];
    }
    gap: $minimum-side-padding;
    min-height: calc(100vh - #{2 * $minimum-side-padding});
    @include breakpoint(mobile) {
        min-height: initial;
    }
}
body > header {
    grid-area: top / left / main / main;
    @include breakpoint(mobile) {
        grid-area: top / left / main / right;
    }
}
nav {
    grid-area: main / left / footer-start / main;
    @include breakpoint(mobile) {
        grid-area: initial;
    }
}
body > footer {
    grid-area: footer-start / left / bottom / main;
    @include breakpoint(mobile) {
        grid-area: footer-start / left / bottom / right;
    }
}
main {
    grid-area: top / main / bottom / right;
    @include breakpoint(mobile) {
        grid-area: main / left / nav / right;
    }

    > :first-child {
        margin-top: 0;
        padding-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    p {
        max-width: 30em;
    }
    a {
        text-decoration: underline;
        text-decoration-color: $text-color;
        text-underline-offset: .2em;
        &:hover {
            text-decoration-color: $brand-color;
        }
    }
}


// STYLE
body > header {
    > span > a {
        display: block;
        @include breakpoint(mobile) {
            display: inline;
        }

        color: $text-color;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: .02em;
        line-height: $compact-line-height;
    }
    h1 {
        display: inline;
        color: $brand-color;
        font-size: 1em;
    }
}
@include breakpoint(mobile) {
    body.page > header {
        max-width: calc(100% - 30px);
    }
}
nav, body > footer {
    font-size: .8em;
    letter-spacing: .05em;
    margin-top: .6em;
    line-height: $compact-line-height;
}

nav {
    #menu-items > div {
        margin-bottom: .8em;
        div {
            margin-left: 1em;
            max-width: 15em;
            margin-bottom: .6em;
        }
        > span > a {
            text-transform: uppercase;
        }
    }
    .checkbox, #hamburger-lines {
        display: none;
    }
    sup {
        // With this we avoid adding extra line height to "km^2"
        line-height: 0;
        // Fix painting bug for overlay
        @include breakpoint(mobile) {
            line-height: 1;
        }
    }

    .social {
        margin-left: -2px;
        @include breakpoint(mobile) {
            margin-left: 0;
        }
    }
    svg {
        width: 20px;
        height: 20px;
        fill: $light-text-color;

        &:hover {
            fill: $brand-color;
        }
    }
}

@include breakpoint(mobile) {
    body.page nav {
        .checkbox {
            position: absolute;
            display: block;
            height: 17px;
            width: 19px;
            z-index: 100;
            opacity: 0;
            cursor: pointer;

            &:checked {
                position: fixed;

                ~ .hamburger-lines {
                    position: fixed;
                    .line { background-color: $background-color; }
                    .line1 { transform: rotate(-45deg); }
                    .line2 { transform: scaleY(0); }
                    .line3 { transform: rotate(45deg); }
                }
                ~ #menu-items {
                    padding-top: 5em;
                    height: max(100vh, 100%);
                    opacity: 1;
                    z-index: 10;
                }
            }
        }
        .hamburger-lines {
            display: block;
            height: 15px;
            width: 19px;
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line {
                display: block;
                height: 2px;
                width: 100%;
                border-radius: 10px;
                background-color: $text-color;
            }
            .line1 {
                transform-origin: 100% 0%;
                transition: transform $animation-length ease-in-out;
            }
            .line2 {
                transition: transform $animation-length/2 ease-in-out;
            }
            .line3 {
                transform-origin: 100% 100%;
                transition: transform $animation-length ease-in-out;
            }
        }
        .checkbox, .hamburger-lines {
            top: calc(#{$minimum-mobile-side-padding} + .3em);
            right: $minimum-mobile-side-padding;
        }
    }
    body.photography #menu-items #header-photography,
    body.collaborations #menu-items #header-collaborations,
    body.curatorial #menu-items #header-curatorial,
    body.commissions #menu-items #header-commissions {
        margin-bottom: 1em;
    }
    body.page #menu-items {
        text-align: center;
        width: 100%;
        margin: 0;
        font-size: 1.2em;
        line-height: $standard-line-height;
        overscroll-behavior: none;

        height: 0;
        background-color: $brand-color;
        position: fixed;
        top: 0;
        left: 0;
        overflow: scroll;
        grid-area: initial;

        z-index: -10;
        opacity: 0;
        transition: opacity $animation-length ease-in-out;

        > div {
            margin-bottom: 2em;

            div {
                margin-left: 0;
                margin-bottom: 1em;
                max-width: initial;
            }
        }
        #items-photography, #items-curatorial {
            margin-bottom: 2em;
        }

        a {
            font-weight: 500;
        }
        a:link, a:visited {
            color: $background-color;
        }
        > div:not(.social) a:hover {
            @include banner-highlight(.4em);
            color: $text-color;
        }

        svg {
            width: 32px;
            height: 32px;
            padding: .1em;
            fill: $background-color;
        }
        .social a {
            margin-left: 1em;
            &:first-of-type {
                margin-left: 0;
            }
            &:hover svg {
                fill: $text-color;
                background-color: $background-color;
            }
        }
    }
}

.photography #menu-items #header-photography a,
.collaborations #menu-items #header-collaborations a,
.curatorial #menu-items #header-curatorial a,
.commissions #menu-items #header-commissions a,
.cv #menu-items #header-cv a,
.bio #menu-items #header-bio a,
.contact #menu-items #header-contact a {
    color: $brand-color;
    @include breakpoint(mobile) {
        @include banner-highlight(.4em);
    }
}
#items-photography,
#items-collaborations,
#items-curatorial,
#items-commissions {
    display: none;
}
.photography #items-photography,
.collaborations #items-collaborations,
.curatorial #items-curatorial,
.commissions #items-commissions {
    display: block;
}

{% for category in site.categories %}
    {% assign category_name = category[0] %}
    {%- for post in category[1] -%}
body.page.{{ category_name }}-{{ post.title | slugify }} #menu-items .{{ category_name }}-{{ post.title | slugify }} a {
    color: $brand-color;
    @include breakpoint(mobile) {
        @include banner-highlight(.4em);

        &:hover {
            color: $brand-color;
        }
    }
}
    {%- endfor -%}
{% endfor %}

// Gallery navigation
.post-photography #gallery-navigation,
.post-collaboration #gallery-navigation,
.post-curatorial #gallery-navigation,
.post-commission #gallery-navigation {
    display: block;
    margin-bottom: 1em;
    @include breakpoint(mobile) {
        display: none;
    }

    div {
        margin-top: .5em;
        display: flex;
        justify-content: space-between;
    }
}
#gallery-navigation {
    display: none;

    button {
        border-radius: 2em;
        font-size: 1em;
        padding: .2em 1em .3em;
        margin: 0;

        border: 1px solid $light-text-color;
        color: $light-text-color;
        background-color: $background-color;

        &:hover {
            border-color: $text-color;
            color: $text-color;
            svg {
                fill: $text-color;
            }
        }

        &:active {
            border-color: $brand-color;
            background-color: $brand-color;
            color: $background-color !important;
            svg {
                fill: $background-color !important;
            }
        }

        &.gallery {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3em;
        }
        svg {
            width: 18px;
            height: 18px;
            fill: $light-text-color;
        }
    }
}
.show-gallery #gallery-navigation button.gallery {
    border: 1px solid $brand-color;
    color: $brand-color;
    svg {
        fill: $brand-color;
    }
}

// Forms
form {
    margin: 1em 0 3em;
}
input, textarea {
    display: block;
    width: 20em;
    max-width: 100%;
    font-size: 1em;
    padding: .5em .7em;
    margin: 0 0 1.5em;
    border: 1px solid $light-text-color;
    color: $text-color;
    border-radius: 5px;

    &:hover {
        border-color: $text-color;
    }

    &:focus {
        border-color: $text-color;
    }

    &::placeholder {
        color: $light-text-color;
    }
}

textarea {
    height: 5em;

    &:hover {
        border-color: $text-color;
    }
}

button {
    font-size: .9em;
    color: $light-text-color;
    border: 1px solid $light-text-color;
    border-radius: 5em;
    background-color: $background-color;
    padding: .4em 2em;

    &:hover {
        color: $text-color;
        border-color: $text-color;
    }

    &:active {
        color: $background-color;
        border-color: $background-color;
        background-color: $brand-color;
    }
}

.gotcha {
    display: none;
}