---
---
@charset "utf-8";
@import "base";

@font-face { font-family: "Graphik"; font-weight: 100; src: url({{ "/assets/fonts/GraphikThin.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 200; src: url({{ "/assets/fonts/GraphikExtralight.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 300; src: url({{ "/assets/fonts/GraphikLight.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 400; src: url({{ "/assets/fonts/GraphikRegular.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 500; src: url({{ "/assets/fonts/GraphikMedium.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 600; src: url({{ "/assets/fonts/GraphikSemibold.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 700; src: url({{ "/assets/fonts/GraphikBold.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 800; src: url({{ "/assets/fonts/GraphikBlack.otf" | relative_url }}) format("opentype"); }
@font-face { font-family: "Graphik"; font-weight: 900; src: url({{ "/assets/fonts/GraphikSuper.otf" | relative_url }}) format("opentype"); }

// RESET
* { box-sizing: border-box; }

body {
    font-family: $text-font;
    color: $text-color;
    padding: 0;
    line-height: $standard-line-height;

    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 16px;
    }

    margin: $minimum-side-padding;
    @include breakpoint(mobile) {
        margin: $minimum-mobile-side-padding;
    }
}

a {
    &:link, &:visited, &:active {
        color: $text-color;
    }
    &:hover {
        color: $brand-color;
    }
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
    line-height: $compact-line-height;
}
h3 {
    font-weight: 500;
    line-height: $compact-line-height;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;

    + p {
        margin-top: 0;
    }
}

// LAYOUT
body {
    display: grid;
    grid-template-rows: [top] auto [main] 1fr [footer-start] auto [bottom];
    grid-template-columns: [left] 12rem [main] auto [right];
    @include breakpoint(mobile) {
        grid-template-rows: [top] auto [main] 1fr [nav] auto [footer-start] auto [bottom];
        grid-template-columns: [left] 1fr [right];
    }
    gap: $minimum-side-padding;
}
header {
    grid-area: top / left / main / main;
    @include breakpoint(mobile) {
        grid-area: top / left / main / right;
    }
}

nav {
    grid-area: main / left / footer-start / main;
    @include breakpoint(mobile) {
        grid-area: nav / left / footer-start / right;
    }
}
footer {
    grid-area: footer-start / left / bottom / main;
    @include breakpoint(mobile) {
        grid-area: footer-start / left / bottom / right;
    }
}
main {
    grid-area: top / main / bottom / right;
    @include breakpoint(mobile) {
        grid-area: main / left / nav / right;
    }

    > :first-child {
        margin-top: 0;
        padding-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    p {
        max-width: 30em;
    }
    a {
        text-decoration: underline;
        text-decoration-color: $text-color;
        text-underline-offset: .2em;
        &:hover {
            text-decoration-color: $brand-color;
        }
    }
}


// STYLE
header {
    > span > a {
        display: block;
        color: $text-color;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: .02em;
        line-height: $compact-line-height;
    }
    h1 {
        display: inline;
        color: $brand-color;
        font-size: 1em;
    }
}
.home header > span > a { font-size: 2em; }
nav, footer {
    font-size: .8em;
    letter-spacing: .05em;
    margin-top: .6em;
    line-height: $compact-line-height;

    > div {
        margin-bottom: .8em;
        div {
            margin-left: 1em;
            max-width: 15em;
            margin-bottom: .6em;
        }
        > span > a {
            text-transform: uppercase;
        }
    }
}
nav sup {
    // With this we avoid adding extra line height to "km^2"
    line-height: 0;
}

.photography #header-photography a,
.curatorial #header-curatorial a,
.cv #header-cv a,
.bio #header-bio a,
.contact #header-contact a {
    color: $brand-color;
}
#items-photography,
#items-curatorial {
    display: none;
}
.photography #items-photography,
.curatorial #items-curatorial {
    display: block;
}

{% for category in site.categories %}
    {% assign category_name = category[0] %}
    {%- for post in category[1] -%}
.{{ category_name }}-{{ post.title | slugify }} .{{ category_name }}-{{ post.title | slugify }} a { color: $brand-color; }
    {%- endfor -%}
{% endfor %}

// MAIN
main {
    h1 {

    }
}
