---
---
@charset "utf-8";
@import "base";

$background-height: 50vw;
$body-column-gap: .5rem;

body {
    margin-right: 0;
    column-gap: $body-column-gap;
    @include breakpoint(mobile) {
        margin-right: $minimum-mobile-side-padding;
    }
}
main {
    position: relative;
    width: calc(100vw - #{14rem - $body-column-gap});
    height: calc(100vh - #{2 * $minimum-side-padding});
    @include breakpoint(mobile) {
        width: auto;
        height: auto;

        p {
            max-width: initial;
        }
    }
}

#content {
    display: relative;
    height: 100%;
}
#gallery {
    position: absolute;
    left: 0;
    top: 0;

    background-color: $background-color;
    width: 100%;
    height: 100%;
    overflow: scroll;
    grid-template-columns: repeat(4, 1fr);
    @include breakpoint(tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    padding-left: $minimum-side-padding;
    padding-right: $minimum-side-padding;
    display: grid;
    opacity: 0;
    z-index: -1;
    transition: opacity $short-animation-length, z-index 1ms $short-animation-length;
    @include breakpoint(mobile) {
        display: none;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 98%;
            max-height: 98%;
            cursor: pointer;
            border: 3px solid $background-color;

            &:hover {
                outline: 2px solid $brand-color;
            }
        }
    }
}

#background {
    display: none;
    width: 100vw;
    z-index: -1;
    @include breakpoint(mobile) {
        display: block;
        position: absolute;
        top: 0;
        left: -$minimum-mobile-side-padding;
        height: $background-height;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

.page-loaded #slideshow {
    scroll-snap-type: x mandatory;
}
#slideshow {
    display: flex;

    height: 100%;
    overflow-x: scroll;
    gap: $minimum-side-padding;
    @include breakpoint(mobile) {
        height: auto;
        overflow-x: initial;
        scroll-snap-type: none;
        flex-direction: column;
        gap: $minimum-mobile-side-padding;
    }

    > * {
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    article {
        header {
            margin-bottom: 1em;
        }
        h4 {
            margin-top: 2rem;
            margin-bottom: 1em;
            font-weight: 600;
        }

        max-width: 26em;
        max-height: 100%;
        align-self: center;
        overflow: scroll;

        padding-left: $minimum-side-padding - $body-column-gap;
        @include breakpoint(mobile) {
            padding-left: 0;
        }

        @include breakpoint(mobile) {
            align-self: flex-start;
            overflow: initial;
            scroll-snap-align: none;
            max-width: initial;
            max-height: initial;
        }
    }

    .date span {
        &:before { content: "("; }
        &:after { content: ")"; }
    }
    @include breakpoint(mobile) {
        h1 {
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: $background-height;
            text-align: center;
            span {
                span {
                    @include banner-highlight;
                }
            }
            .title {
                text-transform: uppercase;
            }
            .date {
                margin-top: 1em;
                display: block;
                font-weight: 400;

                span:before { content: ""; }
                span:after { content: ""; }
            }
        }
    }

    h1 {
        font-size: 2em;
        .date {
            font-size: .7em;
        }
    }

    h2 {
        font-weight: 400;
    }

    h3 {
        font-style: italic;
        font-weight: 400;

        &:first-of-type {
            margin-top: .5em;
        }
    }

    > div {
        &:last-of-type {
            padding-right: $minimum-side-padding;
            @include breakpoint(mobile) {
                padding-right: 0;
            }
        }
        max-width: calc(100% - #{2 * $minimum-side-padding});
        height: 100%;
        @include breakpoint(mobile) {
            max-width: initial;
            width: 100%;
            height: auto;
        }
    }

    img, video {
        max-width: 100%;
        height: 100%;
        @include breakpoint(mobile) {
            width: 100%;
            height: auto;
            max-height: calc(100vh - #{2 * $minimum-mobile-side-padding});
        }
        object-fit: contain;
        display: block;
    }
}

.show-gallery #gallery {
    opacity: 1;
    z-index: 1;
    transition: opacity $short-animation-length;
}