---
---
@charset "utf-8";
@import "base";

main {
    width: calc(100vw - #{$minimum-side-padding} - 14rem);
    height: calc(100vh - #{2 * $minimum-side-padding});
    @include breakpoint(mobile) {
        width: auto;
        height: auto;
    }
}

@include breakpoint(mobile) {
    body {
        scroll-snap-type: y proximity;
    }

    nav, footer {
        scroll-snap-align: end;
    }
}

#slideshow {
    display: flex;

    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    @include breakpoint(mobile) {
        height: auto;
        overflow-x: initial;
        scroll-snap-type: none;
        flex-direction: column;
    }

    > * {
        flex-shrink: 0;
        scroll-snap-align: center;

        padding-right: $minimum-side-padding;
        @include breakpoint(mobile) {
            padding-right: 0;
            padding-top: $minimum-mobile-side-padding;
            padding-bottom: $minimum-mobile-side-padding;
        }
    }

    article {
        max-width: 28em;
        max-height: 100%;

        align-self: center;
        overflow: scroll;
        @include breakpoint(mobile) {
            align-self: flex-start;
            overflow: initial;
            scroll-snap-align: none;
        }
    }

    > div {
        width: 100%;
        height: 100%;
        @include breakpoint(mobile) {
            height: auto;
        }
    }

    img {
        width: 100%;
        height: 100%;
        @include breakpoint(mobile) {
            height: auto;
            max-height: calc(100vh - #{2 * $minimum-mobile-side-padding});
        }
        object-fit: contain;
        display: block;
    }
}

