<header>
  <a href="{% link index.md %}"><h1>Greer Muldowney</h1> likes photography</a>
</header>
<nav>
  <div id="header-photography"><a href="{% link photography/index.html %}">Photography</a></div>
  <div id="header-curatorial"><a href="{% link curatorial/index.html %}">Curatorial & Projects</a></div>
  <div id="header-cv"><a href="{% link cv.md %}">Curriculum Vitae</a></div>
  <div id="header-bio"><a href="{% link bio.md %}">Bio</a></div>
  <div id="header-contact"><a href="{% link contact.md %}">Contact</a></div>
</nav>
