<header>
    <span><a href="{{ site.baseurl }}{% link index.md %}"><h1>Greer Muldowney</h1> likes photography</a></span>
</header>
<nav>
    <div id="header-photography"><span><a href="{{ site.baseurl }}{% link photography/index.html %}">Photography</a></span></div>
    <div id="items-photography">
        {% for post in site.categories.photography -%}
            {%- if post.end-date == null -%}
        <div class="photography-{{ post.title | slugify }}"><a href="{{ post.url | relative_url }}">{{ post.title }}</a><div>{% include photography-year-range.html post=post %}</div></div>
            {%- endif -%}
        {%- endfor %}
        {% for post in site.categories.photography -%}
            {%- if post.end-date != null -%}
        <div class="photography-{{ post.title | slugify }}"><a href="{{ post.url | relative_url  }}">{{ post.title }}</a><div>{% include photography-year-range.html post=post %}</div></div>
            {%- endif -%}
        {%- endfor %}
    </div>
    <div id="header-curatorial"><span><a href="{{ site.baseurl }}{% link curatorial/index.md %}">Curatorial & Projects</a></span></div>
    <div id="items-curatorial">
        {% for post in site.categories.curatorial -%}
        <div class="curatorial-{{ post.title | slugify }}"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
        {%- endfor %}
    </div>
    <div id="header-cv"><span><a href="{{ site.baseurl }}{% link cv.md %}">Curriculum Vitae</a></span></div>
    <div id="header-bio"><span><a href="{{ site.baseurl }}{% link bio.md %}">Bio</a></span></div>
    <div id="header-contact"><span><a href="{{ site.baseurl }}{% link contact.md %}">Contact</a></span></div>
</nav>
