---
layout: default
body-class: curatorial post-curatorial
custom-css:
    - post-curatorial
    - post-photography
---


<div id="slideshow">
    <article>

<h1>{{ page.title | smartify }}</h1>

{%- if page.subtitle %}
<h2> {{ page.subtitle | smartify }}</h2>
{%- endif %}

<h3>{{ page.location | smartify }}</h3>

<h3>
{%- if page.end-date -%}
    {% assign start-year = page.date | date: "%Y" %}
    {% assign end-year = page.end-date | date: "%Y" %}
    {% if start-year != end-year %}
        {{ page.date | date: "%B %e, %Y" }}–{{ page.end-date | date: "%B %e, %Y" }}
    {% else %}
        {% assign start-month = page.date | date: "%m" %}
        {% assign end-month = page.end-date | date: "%m" %}
        {% if start-month != end-month %}
            {{ page.date | date: "%B %e" }}–{{ page.end-date | date: "%B %e, %Y" }}
        {% else %}
            {{ page.date | date: "%B %e" }}–{{ page.end-date | date: "%e, %Y" }}
        {% endif %}
    {% endif %}
{%- else -%}
    {{ page.date | date: "%B %e, %Y" }}
{%- endif %}
</h3>

{{ page.content }}

{%- if page.participants %}
<h3>{{ page.participants.what-are-they-called | smartify }}</h3>

<div class="participants">
{{ page.participants.who-are-they | join: " • " | smartify }}
</div>
{%- endif %}

    </article>

{% for photo in page.photos -%}
    <div>
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" />
    </div>
{%- endfor %}

</div>
