---
layout: page
body-class: page curatorial post-curatorial
custom-css:
    - post-curatorial
    - post-photography
custom-js: gallery-navigation
og-type: article
---

<div id="background">
{%- assign image = page.photos[0].filename %}
{% if page.preferred-splash-image %}
    {% assign image = page.preferred-splash-image %}
{% endif -%}
<img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: image | relative_url }}" />
<div class="overlay"></div>
</div>

<div id="content">
<div id="gallery">
{%- for photo in page.photos -%}
    <div>
        {%- if photo.filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" data-index="image-{{ forloop.index }}" />
        {%- elsif photo.video-filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.placeholder-image | relative_url }}" data-index="image-{{ forloop.index }}" />
        {%- endif -%}
    </div>
{%- endfor %}

</div>

<div id="slideshow">
    <article>
<header><h1><span class="title"><span>{{ page.title | smartify }}</span></span></h1>
{%- if page.subtitle %}
<h2> {{ page.subtitle | smartify }}</h2>
{%- endif %}
<h3>{{ page.location | smartify }}</h3>
<h3>
{%- if page.end-date -%}
    {% assign start-year = page.date | date: "%Y" %}
    {% assign end-year = page.end-date | date: "%Y" %}
    {% if start-year != end-year %}
        {{ page.date | date: "%B %e, %Y" }}–{{ page.end-date | date: "%B %e, %Y" }}
    {% else %}
        {% assign start-month = page.date | date: "%m" %}
        {% assign end-month = page.end-date | date: "%m" %}
        {% if start-month != end-month %}
            {{ page.date | date: "%B %e" }}–{{ page.end-date | date: "%B %e, %Y" }}
        {% else %}
            {{ page.date | date: "%B %e" }}–{{ page.end-date | date: "%e, %Y" }}
        {% endif %}
    {% endif %}
{%- else -%}
    {{ page.date | date: "%B %e, %Y" }}
{%- endif %}
</h3>
</header>

{{ page.content }}

{%- if page.participants %}
<div id="participants">
{%- if page.participants[0] -%}
    {%- for participant-group in page.participants -%}
        {%- include participants.html participants=participant-group -%}
    {%- endfor -%}
{%- else -%}
    {%- include participants.html participants=page.participants -%}
{%- endif -%}
</div>
{%- endif -%}
    </article>

{% for photo in page.photos -%}
    <div>
        {%- if photo.filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" class="image-{{ forloop.index }}" />
        {%- elsif photo.video-filename -%}
        <video src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.video-filename | relative_url }}" poster="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.placeholder-image | relative_url }}" class="image-{{ forloop.index }}" controls />
        {%- endif -%}
    </div>
{%- endfor %}

</div>
</div>
