---
layout: page
body-class: page photography post-photography
custom-css: post-photography
custom-js: gallery-navigation
og-type: article
---

<div id="background">
{%- assign image = page.photos[0].filename %}
{% if page.preferred-splash-image %}
    {% assign image = page.preferred-splash-image %}
{% endif -%}
<img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: image | relative_url }}" />
<div class="overlay"></div>
</div>

<div id="gallery">

{% for photo in page.photos -%}
    <div>
        {%- if photo.filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" data-index="image-{{ forloop.index }}" />
        {%- elsif photo.video-filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.placeholder-image | relative_url }}" data-index="image-{{ forloop.index }}" />
        {%- endif -%}
    </div>
{%- endfor %}

</div>

<div id="slideshow">
    <article>
<h1><span class="title"><span>{{ page.title | smartify }}</span></span> <span class="date"><span>{% include photography-year-range.html post=page %}</span></span></h1>
{% if page.collaborator -%}
    {%- if page.subtitle -%}
    <h2>{{ page.subtitle | smartify }}</h2>
    {%- endif -%}
    <h3>A Collaboration with {{ page.collaborator }}</h3>
{%- else -%}
    {%- if page.subtitle -%}
    <h3>{{ page.subtitle | smartify }}</h3>
    {%- endif -%}
{%- endif %}
{{ page.content }}
    </article>

{% for photo in page.photos -%}
    <div>
        {%- if photo.filename -%}
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" class="image-{{ forloop.index }}" />
        {%- elsif photo.video-filename -%}
        <video src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.video-filename | relative_url }}" poster="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.placeholder-image | relative_url }}" class="image-{{ forloop.index }}" controls />
        {%- endif -%}
    </div>
{%- endfor %}

</div>
