---
layout: page
body-class: page photography post-photography
custom-css: post-photography
custom-js: gallery-navigation
---

<div id="slideshow">
    <article>
<h1>{{ page.title | smartify }} <span class="date">({% include photography-year-range.html post=page %})</span></h1>
{% if page.subtitle %}
<h3>{{ page.subtitle | smartify }}</h3>
{% endif %}

{{ page.content }}
    </article>

{% for photo in page.photos -%}
    <div>
        <img src="{{ '/assets/series/' | append: page.photo-directory-prefix | append: photo.filename | relative_url }}" />
    </div>
{%- endfor %}

</div>
